body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightblue;
  background-image: url(https://i.imgur.com/BF1sIkJ.jpg);
  background-size: cover;
}

.locationContainer{
  height: 100%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login{
  margin: 0;
  padding: 0;
  background-color: teal;
  display: flex;
  justify-content: flex-end;
}
